@model MyMVCApplication.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
@using (Html.BeginForm("Index","Student"))
{
    
    <div>
        Search By Name @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-default" />
    </div>

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("gender")
        </th>

        <th>
            @Html.DisplayName("Active")
        </th>
        <th>
            @Html.DisplayName("CreationDate")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Students)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fname)
        @Html.DisplayFor(modelItem => item.mname)
        @Html.DisplayFor(modelItem => item.lname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.gender)
    </td>

    <td>
        @Html.DisplayFor(modelitem => item.Active)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.CreationDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }) |
        @Html.ActionLink("AssignClass","AssignStudentToClass")
    </td>
</tr>
    }

</table>
<label>Total Students:</label> @ViewBag.Count
<br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("StartTime")
        </th>
        <th>
            @Html.DisplayName("EndTime")
        </th>
        <th>
            @Html.DisplayName("TeacherID")
        </th>

    </tr>

    @foreach (var item in Model.Classes)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TeacherID)
    </td>

</tr>
    }


</table>
<nav>
    <ul class="pagination">
        <li aria-label="pravious">
            <a href="#" aria-hidden="true">&laquo;</a>
        </li>
        @for (int i=1;i<= ViewBag.TotalPage; i++)
        {
            <li>
                <a href="@Url.Action("Index", new { page = i  , SearchString = @ViewBag.CurrentFilter})">@i</a>
            </li>
        }
        <li aria-label="Next">
            <a href="#" aria-hidden="true">&raquo;</a>
        </li>
    </ul>
</nav>







